<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="vehicle" class="edu.miu.cs.cs544.temuulen.labs.Bike" ></bean>
    <bean id="game" class="edu.miu.cs.cs544.temuulen.labs.Game" >
        <constructor-arg ref="vehicle" />
    </bean>

</beans>